.TodoBuilder {
  width: 1000px;
  padding: 0px 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #f9f9f9;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
