.TaskPanel {
  margin: 20px 0;
  color: #343b3c;
  display: flex;
  justify-content: space-between;
}

.TaskPanel__status {
}

.TaskPanel__buttons {
}

.TaskPanel button {
  padding: 10px 10px;
  margin: 0px 1px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
}

.TaskPanel button:hover,
.TaskPanel button:active {
  border-color: rgb(80, 80, 80);
}
