.AddTask {
  margin: 20px 0;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.AddTask__input {
  flex: 10 1 auto;
}

.AddTask__addButton {
  flex: 1 1 auto;
}

.AddTask input {
  width: 100%;
  padding: 10px 10px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 10px;
  outline: none;
  text-align: left;
  color: #343b3c;
  font-size: medium;
  font-family: inherit;
}

.AddTask input::placeholder {
  opacity: 0.5;
}

.AddTask button {
  width: 100%;
  padding: 10px 10px;
  background-color: #511d47;
  border: 1px solid #eee;
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}
